python-dotenv
neo4j
llama-index
llama-index-graph-stores-neo4j
llama-index-llms-openai
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-neo4jvector
openai
pandas
numpy
scikit-learn
mlxtend
nltk
nest_asyncio
fastapi
uvicorn[standard]
python-multipart==0.0.20
requests==2.31.0
uvicorn==0.28.0